body {
    margin: 0px
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 14px;
    background-color: dimgrey;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.currency-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}